= provide :title, "Admin | Edit #{@item.name}"

.row
  .span8.offset2
    = form_for [:admin, @item] do |item|
      = render 'shared/error_messages', object: item.object
      %fieldset
        %legend= "Edit #{@item.name}"
        .control-group
          - sold_check_box = item.check_box :sold, class: "inline-checkbox"
          = item.label :sold, "#{sold_check_box}Item has been sold.".html_safe, class: "control-label"

        = render 'form_fields', :item => item

        %legend Primary Item Image
        .row.space-bottom
          .span4
            .thumbnail
              = image_tag @item.primary_image(:medium), alt: @item.name
          .span4
            .control-group
              = item.label :primary_image, "Choose new image", class: "control-label"
              .controls
                = item.file_field :primary_image

        %legend Additional Item Images
        = item.fields_for :item_images, :item_images, html: { multipart: true } do |image|
          - if image.object.photo.file?
            = render 'has_image', { :image => image, :item => item }
          - else
            = render 'no_image', :image => image

        .main-controls
          = link_to "Delete Item", admin_item_path(@item), method: :delete, confirm: "Are you sure?", class: "btn btn-large btn-danger"
          .pull-right
            = item.submit "Save Changes", class: "btn btn-success btn-large"
            = link_to "Cancel", admin_items_path, class: "btn btn-large"