= provide :title, "New Item"

.row
  .span8.offset2
    = form_for @item do |item|
      = render 'shared/error_messages', object: item.object
      %fieldset
        %legend Add New Item
        = render 'form_fields', :item => item

        %legend Primary Item Image
        .control-group
          .controls
            = item.file_field :primary_image


        %legend Additional Item Images
        = item.fields_for :item_images, :item_images, html: { multipart: true } do |image|
          .control-group
            .controls
              = image.file_field :photo

        .main-controls
          .pull-right
            = item.submit "Add Item", class: "btn btn-success btn-large"
            = link_to "Cancel", items_path, class: "btn btn-large"
