.row
  .span12
    %table.table.table-bordered
      %thead
        %tr
          %th.span1 Image
          %th Name
          %th # Items
          %th Listed Items
          %th(colspan=2) Actions
      %tbody
        - @categories.each do |category|
          %tr
            %td
              - if category.items.empty?
                = link_to image_tag("default_thumb.jpg", alt: category.name), category_path(category)
              - else
                = link_to image_tag(category.category_image(:thumb), alt: category.name), category_path(category)
            %td= category.name
            %td= category.items.count
            %td= category.items.map(&:name).join(", ")
            %td.span1= link_to "View", category_path(category), class: "btn btn-primary"
            %td.span1= link_to "Edit", edit_category_path(category), class: "btn"