!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag "application", media: "all"
    - if controller_stylesheet?(controller.controller_name)
      = stylesheet_link_tag controller.controller_name, media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .navbar
      .navbar-inner
        .container
          = link_to image_tag("logo.jpg", alt: "NYCorBUST"), root_path, class: "brand"
          %ul.nav.pull-right
            %li= link_to "All Items", "#"
            %li= link_to "By Category", "#"
            %li= link_to "Contact", "#"
            - if signed_in?
              %li= link_to "Admin", "#"
              %li= link_to "Logout", logout_path
    .container
      = yield